@import "@economist/component-font-officina";
@import "@economist/component-font-neutra2";
@import "@economist/component-gridcss";

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-light-grey: #edeef0;
  --color-dark-grey: #3C3C3C;
  --color-mid-grey: #c2c2c2;
  --color-econ-red: #E3120B;
  --color-econ-red-hover: #a6130e;
  --color-published-blue: #367FB6;

  --arrow-width: 16px;
  --card-height: 435px;
};


ul, li {
   padding: 0;
   margin: 0;
}

.navigation {
   height: 100%;
   background-color: var(--color-white);
   background-color: red;
   display: flex;
   max-width: 1190px;
   margin: 67px auto 0;
   position: relative;
   width: 100%;
}

.navigation__header--hidden {
  display: none;
}

.navigation__menu-button {
   display: none;
}

.navigation
::-webkit-scrollbar {
    width: 8px;
}

.navigation
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

.navigation
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--color-mid-grey);
}

.navigation__categories {
   display: flex;
   flex: 1;
   justify-content: space-between;
   background-color: var(--color-econ-red);
   padding: 0;
   margin: 0;
}

.navigation__categories .list__item {
  display: flex;
}

.navigation__root-card {
  width: 100%;
}

.navigation__category {
   width: 100%;
}

.navigation__category-title {
  background-color: var(--color-econ-red);
  padding: 0 6%;
  margin: 0;
  color: var(--color-white);
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 65px;
}

.navigation__categories .list__item:last-of-type {
   margin-right: 1%;
}

.navigation__category-title a,
.navigation__category-title--focus a {
   font-family: "Neutra2Display";
   line-height: 65px;
   font-size: 18px;
   color: var(--color-white);
   text-decoration: none;
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
}

.navigation__category-title:hover {
   background-color: var(--color-econ-red-hover);
}

.navigation__category-title--focus {
   background-color: var(--color-econ-red-hover);
}

.navigation__category-title--focus a:after {
   content: '';
   width: 0;
   height: 0;
   border-left: var(--arrow-width) solid transparent;
   border-right: var(--arrow-width) solid transparent;
   border-top: var(--arrow-width) solid var(--color-econ-red-hover);
   position: absolute;
   left: calc(50% - var(--arrow-width));
   bottom: -16px;
   z-index: 99999;
}

.navigation__subcategories {
   width: 18%;
   text-align: right;
   background-color: var(--color-white);
   padding-top: 47px;
}

.navigation__subcategory-title {
   margin: 0 0 20px 0;
}

.navigation__subcategory-title a {
   text-decoration: none;
   color: grey;
   font-family: "Officina";
   font-weight: bold;
   font-size: 16px;
   display: block;
   height: 100%;
   width: 100%;
}

.navigation__subcategory-title--focus a,
.navigation__subcategories-title--focus a {
   color: var(--color-dark-grey);
}

.navigation__category-card  {
   position: absolute;
   overflow: hidden;
   left: 0;
   width: 100%;
   height: var(--card-height);
   background-color: var(--color-white);
   border-bottom: 1px solid var(--color-econ-red);
}

.navigation__articles {
   background-color: var(--color-white);
   columns: 2 150px;
   height: 100%;
   padding: 47px 0;
}

.navigation__articles li a {
   text-decoration: none;
   color: var(--color-published-blue);
}

.navigation__article-text,
.navigation__article-published-state,
.navigation__article-published-state--unpublished {
   font-family: "Officina";
   font-weight: normal;
   font-size: 16px;
   display: block;
}

.navigation__article-published-state--published {
  opacity: 0;
}


.navigation__article-text {
   margin-bottom: 8px;
   font-size: 14px;
   color: var(--color-dark-grey);
}

.navigation__article-published-state,
.navigation__article-published-state--unpublished {
   font-size: 12px;
}

.navigation__article-published-state--unpublished {
   margin-bottom: 30px;
   color: var(--color-econ-red);
}

.navigation__article--unpublished {
   opacity: 0.3;
}

.navigation__articles li {
   display: inline-block !important;
   width: 100% !important;
}

.navigation__article-title {
   margin: 0 0 6px 0;
   font-family: "Officina";
   font-weight: bold;
   font-size: 16px;
   color: var(--color-dark-grey);
}

.navigation__subcategory {
   height: 100%;
   width: 100%;
}

.navigation__subcategory-card {
   position: absolute;
   top: 0;
   left: 30%;
   width: 70%;
   max-height: 100%;
   text-align: left;
   overflow-x: hidden;
   overflow-y: scroll;
}

@media screen and (max-width: 940px) {
   .navigation__category-title a,
   .navigation__category-title--focus a {
      font-size: 16px;
   }
}

@media screen and (max-width: 800px) {
   .navigation__category-title a,
   .navigation__category-title--focus a {
      font-size: 14px;
   }
}

@media screen and (max-width: 800px) {
   .navigation__category-title a,
   .navigation__category-title--focus a {
      font-size: 12px;
   }
}

@media screen and (max-width: 640px) {

.navigation__root-card {
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navigation__category-title {
    height: 55px;
}

.navigation__category-title--focus a:after {
   display: none;
}

.Icon-hamburger, .Icon-close {
   padding: 4px;
}

.navigation__menu-button--open .Icon-hamburger,
.navigation__menu-button--closed .Icon-close {
  display: none;
}

.navigation__menu-button--closed .Icon-hamburger,
.navigation__menu-button--open .Icon-close {
  display: block;
}

.navigation__menu-button:hover {
  background-color: var(--color-econ-red-hover);
}

.navigation__category-title a,
.navigation__category-title--focus a {
   background-color: transparent;
   color: grey;
   text-align: left;
   font-size: 26px;
   padding-left: 20px;
}

.navigation__category-title:hover {
   background-color: transparent;
}

.navigation__category-title--focus a {
   color: var(--color-econ-red);
   background-color: var(--color-white);
   border-bottom: 1px solid var(--color-econ-red);
}

.list__item:first-of-type .navigation__category .navigation__category-title {
   margin-left: 0;
}

.list__item:last-of-type .navigation__category .navigation__category-title {
   padding-right: 0;
}

.navigation__categories {
   display: inline;
   padding: 0;
   margin: 0;
}

.navigation__category-title {
   background-color: transparent;
   padding: 0;
}

.navigation__category-title--focus {
   border-bottom: 1px solid var(--color-econ-red);
}

.navigation {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--color-econ-red);
  display: block;
  background: white;
}

.navigation__category-card  {
   border-color: var(--color-black);
   position: relative;
   left: 0;
   height: 100%;
   border: 0;
}

.navigation__subcategory-card {
   position: relative;
   left: 0;
   padding: 10px 25px;
   display: inline;
}

.navigation__subcategories {
   text-align: left;
   padding: 16px 0;
   display: inline;
}

.navigation__subcategory-title {
   position: relative;
   padding: 10px 0;
   margin: 0;
   border-bottom: 1px solid var(--color-light-grey);
}

.navigation__categories .list__item:last-of-type {
    margin-right: 0;
}

.navigation__subcategory-title:after {
   content: '';
   width: 0;
	 height: 0;
   border-top: 8px solid transparent;
   border-left: 19px solid var(--color-econ-red);
   border-bottom: 8px solid transparent;
   position: absolute;
   top: calc(50% - 10px);
   right: 20px;
   pointer-events: none;
}

.navigation__subcategory-title--focus:after {
   content: '';
   width: 0;
	 height: 0;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   border-top: 19px solid var(--color-econ-red);
   position: absolute;
   top: calc(50% - 10px);
   right: 20px;
   pointer-events: none;
}

.navigation__article {
   padding-left: 25px;
}

.navigation__articles {
 columns: initial;
 min-height: 0;
 padding: 0;
}

.navigation__articles li:last-of-type .navigation__article-published-state {
  margin-bottom: 0;
}

.navigation__subcategory-title a {
   font-size: 24px;
   padding-left: 20px;
}

.navigation__menu-button {
   position: absolute;
   width: 67px;
   height: 67px;
   background-color: var(--color-econ-red);
   top: -67px;
   right: 0;
   display: block;
}

.navigation__root-card {
   display: none;
}

.navigation__root-card--focus {
  display: block;
}

.navigation__category-card {
   animation: animationFramesOut ease-out 4s;
   animation-iteration-count: 1;
}

.navigation__category-card--focus {
  animation: animationFrames ease-out 0.5s;
  animation-iteration-count: 1;
}

.navigation__subcategory-card .navigation__articles {
   animation: animationFramesOut ease-out 4s;
   animation-iteration-count: 1;
}

.navigation__subcategory-card--focus .navigation__articles {
  animation: animationFrames ease-out 0.3s;
  animation-iteration-count: 1;
}
}

@keyframes animationFrames{
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animationFramesOut{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
